<!DOCTYPE html>
<html lang="en">
<title>Import/export Company</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Poppins", sans-serif
    }

    body {
        font-size: 16px;
    }

    .w3-half img {
        margin-bottom: -6px;
        margin-top: 16px;
        opacity: 0.8;
        cursor: pointer
    }

    .w3-half img:hover {
        opacity: 1
    }
</style>

<body>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding"
        style="z-index:3;width:300px;font-weight:bold;  border-top-right-radius: 100px;border-bottom-right-radius: 100px
        " id="mySidebar"><br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
            style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
            <h2 class="w3-padding-64"><b>Logistics - X</b>
                <hr>
                </h3>
        </div>
        <div class="w3-bar-block">
            <a href="/compapp" class="w3-bar-item w3-button w3-hover-white"style="border-radius: 40px ">Home</a>
            <form action="/test" method="post">
                <input type="submit" onclick="w3_close()" style="border-radius: 40px "class="w3-bar-item w3-button w3-hover-white" id='query'
                    value='Suppliers' />
            </form>
            <form action="/staff" method="post">
                <input type="submit" onclick="w3_close()" style="border-radius: 40px "class="w3-bar-item w3-button w3-hover-white" id='query'
                    value='Staff' />
            </form>
            <form action="/goods" method="post">
                <input type="submit" onclick="w3_close()" style="border-radius: 40px "class="w3-bar-item w3-button w3-hover-white" id='query'
                    value='Products' /> </form>
            <a href="#contact" onclick="w3_close()" style="border-radius: 40px "class="w3-bar-item w3-button w3-hover-white">Contact</a>
            <a href="/" class="w3-bar-item w3-button w3-hover-white"style="border-radius: 40px ">Log out</a>

        </div>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
        <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
        <span>Logistics X</span>
    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu"
        id="myOverlay"></div>

    <div style="background-color:#1d2d44 ;padding:50px ;border-radius: 150px;
    ">
        <h1 class="w3-jumbo" style="color:white ;margin-left:25%"><b>Imports/Exports Company</b></h1>

    </div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      
        <div class="w3-container" style="margin-top:30px" id="showcase">
            <h1 class="w3-xxxlarge w3-text-red"><b>Think together. Move together. Success together.</b></h1>
            <hr style="width:50px;border:5px solid #1d2d44" class="w3-round">


        </div>

        <!-- Photo grid (modal) -->
        <div class="w3-row-padding">
            <div class="w3-half">
                <img src="/Images/logistics.png" style="width:50%" onclick="onClick(this)" alt="Ships">
                <img src="/Images/logistics3.jpg" style="width:50%" onclick="onClick(this)" alt="Air">

            </div>

            <div class="w3-half">
                <img src="/Images/logistics2.jpg" style="width:56%" onclick="onClick(this)" alt="Trucks">
                <img src="/Images/logistics4.jpg" style="width:56%" onclick="onClick(this)" alt="Scandinavian design">
            </div>
        </div>

        <!-- Modal for full size images on click-->
        <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
            <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
            <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                <img id="img01" class="w3-image">
                <p id="caption"></p>
            </div>
        </div>

        <!-- Services -->
        <div class="w3-container" id="services" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Our Services.</b></h1>
            <hr style="width:50px;border:5px solid #1d2d44" class="w3-round">
            <p id="staff"></p>
           

            <p style="width:70%">Covering all modes of transport, we provide you with the services you need to meet your customers'
                demands. Based on your business need, our team can suggest the most effective and efficient shipment
                options available. At the heart of our service is our commitment to customers service and quality.</p>
            <p><ul><li> HOUSEHOLD GOODS & PERSONAL EFFECTS.</li>
                <li>USED VEHICLE SHIPMENT.</li>
                <li>PACKAGING & CRATING.</li>
                <li>WAREHOUSING. CONTAINER STUFFING, DE-STUFFING.</li>
                <li>EXPRESS4AIR SERVICES.</li>
                <li>SEA FREIGHT SERVICE. INCLUDING HAZARDOUS MATERIALS.</li>
                <li>BREAK-BULK AND PROJECT CARGO.</li>
                <li>RORO - ROLL-ON / ROLL-OFF.</li>
                <li>REFRIGERATED OR TEMPERATURE.</li>
                <li>DOOR-TO-DOOR SERVICE.</li>
                <li>INSURANCE CONSULTANCY.</li></ul>
            </p>

            
        </div>



        <!-- Contact -->
        <div class="w3-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
            <hr style="width:50px;border:5px solid #1d2d44" class="w3-round">
       
            <form action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Name</label>
                    <input class="w3-input w3-border" style="border-radius: 40px " type="text" name="Name" required>
                </div>
                <div class="w3-section">
                    <label>Email</label>
                    <input class="w3-input w3-border"style="border-radius: 40px " type="text" name="Email" required>
                </div>
                <div class="w3-section">
                    <label>Message</label>
                    <input class="w3-input w3-border" style="border-radius: 40px" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" style="border-radius:10px">Send
                    Message</button>
            </form>
        </div>

        <!-- End page content -->
    </div>


    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>

</body>

</html>